.head
{
height:300px;
width:1000px;
margin-left:auto;
margin-right:auto;
}
.h
{
height:250px;
width:1000px;
}
.logo
{
float:left;
}
.name
{
height:150px;
width:850px;
}
.a
{
position:relative;
top:100px;
left:150px;
font-family:"Times New Roman", Times, serif;
font-size:40px;
font-style:italic;
float:left;
color:#000000;
background-color:#FFFFFF;
}
.menu
{
height:30px;
width:1000px;
float:left;
background-color:#FFFFFF;
}
.menu ul li
{
display:inline;
padding:30px;
}
.menu ul a
{
font-size:16px;
font-family:"Times New Roman", Times, serif;
color:#330000;
text-decoration:none;
}

.footer
{
height:200px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#FFFFFF;
}
.f
{
text-align:center;
font-family:"Courier New", Courier, monospace;
font-size:14px;
font-style:italic;
color:#000000;
top:50px;
}

.home
{
height:650px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#FFFFFF;
}
.img
{
float:left;
}
.header
{
height:100px;
width:1000px;
text-align:center;
font-family:"Courier New", Courier, monospace;
font-size:24px;
float:left;
color:#330033;
}
.para
{
height:250px;
width:1000px:
float:left;
text-align:center;
color:#333333;
font-size:18px;
}
.about
{
height:650px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#6699FF;
}
.img1
{
float:left;
}
.img2
{
float:left;
font:"Times New Roman", Times, serif;
font-size:14px;
font color:#000000;
background-color:#FFFFFF;
}
.img3
{
float:left;
}

.register
{
height:650px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#FFFFFF;
text-align:center;
}

.academics
{

height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
text-align:center;
color:#000000;
background-color:#FFFFFF;
font-size:24px;

}
.contact
{
height:650px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#FFFFFF;
}
.map
{
float:left;
}
.address
{
height:650px;
width:1000px;
float:left;
font-size:19px;
color:#000000;
text-align:center;

}